# Compiled class files
*.class

# Log files
*.log
*.log.*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# These are common archive formats that are often build artifacts.
*.jar
*.war
*.ear
*.nar

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Build system specific files
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Operating System Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# User-specific files (e.g., local preferences, passwords)
local.properties

# Other temporary files
temp/
